.container {
  padding: 30px 0;
  min-height: calc(100vh - 231px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.back {
  position: absolute !important;
  left: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back button {
  color: var(--white); /* متن دکمه سفید می‌شود */
  background: none;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.back i {
  padding: 4px 5px;
  cursor: pointer;
  background: var(--gradient);
  margin: 5px 10px;
  float: left;
  border-radius: 50%;
  font-size: 1.2em;
  font-weight: 900;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.back i:hover {
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}
.actorContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  z-index: 5;
  padding: 0 20px;
  max-width: 1200px;
  margin: 50px auto;
  align-items: flex-start;
}

.profileContainer {
  margin: 20px;
  max-width: 300px;
  min-width: 150px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.profile {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 15px;
}

.details {
  padding: 0 30px;
  max-width: 700px;
  color: var(--head-light);
  min-height: 450px;
  display: flex;
  flex-direction: column;
}

.name {
  margin-top: 0;
  font-size: 2.5em;
  color: var(--white);
}

.biography {
  line-height: 1.6;
  margin-top: 10px;
  color: var(--head-light);
}

.infoRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.infoItem {
  color: var(--head-light);
}

.recommendedOuter {
  color: var(--head-light);
}

.recommendedContainer {
  display: flex;
  justify-content: space-between;
  max-width: calc(100vw - 10px);
  overflow-x: scroll;
  overflow-y: hidden;
}

.recommendedMovie {
  margin: 20px;
  width: 150px;
  height: max-content;
  transition: all ease-in-out 100ms;
}

.recommendedMovie:hover {
  transform: scale(1.1);
}

.recommendedMovie img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.recommendedMovie h3 {
  text-decoration: none;
  color: var(--head-light);
  font-size: 0.9em;
  width: 100%;
  overflow: hidden;
  word-wrap: none;
}

@media screen and (max-width: 768px) {
  .actorContainer {
    flex-direction: column;
    align-items: center;
    max-width: none;
    margin: 50px 0;
  }
  .profileContainer {
    max-width: 250px;
    margin: 20px 0;
  }
  .details {
    padding: 0 15px;
    text-align: center;
  }
  .name {
    font-size: 2em;
  }
  .infoRow {
    flex-direction: column;
    align-items: center;
  }
}
